.form {
  display: grid;
  gap: 25px;
  padding: 25px;

  &__content {
    display: grid;
    gap: 25px;
  }

  &__field {
    position: relative;
    border: 1px solid #f3f6f8;

    &--active {
      .form__input {
        background-color: #e8eaf0;
      }

      .form__label {
        position: absolute;
        top: -16px;
        border-bottom: 1px solid #959dac;
        border-bottom-right-radius: #959dac;
        border-bottom-left-radius: #959dac;
      }
    }
  }

  &__label {
    position: absolute;
    top: -12px;
    left: 8px;
    padding: 3px;
    background: #fff;
    font-size: 12px;
    border-radius: 5px;
    z-index: 2;
    border-bottom: 1px solid transparent;
  }

  &__label:after,
  &__textarea--label:after {
    content: " *";
    color: red;
    padding-top: 2px;
    margin-right: 2px;
    font-size: 15px;
  }

  &__input,
  &__textarea {
    padding: 15px 5px 10px 5px;
    width: 98%;
    border: 1px solid #959dac;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    font-family: Museo Sans Cyrl, sans-serif;
    color: #959dac;
    border-radius: 2px;
  }

  &__textarea {
    min-height: 100px;
    border-radius: 2px;
  }

  &__file {
    &-label {
      color: #2889f1;
      text-decoration: underline;
      text-decoration-style: dotted;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    &-input {
      display: none;
    }
  }

  &__line {
    width: 100%;
    border-top: 1px solid #e8eaf0;
  }

  &__warning {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: Museo Sans Cyrl, sans-serif;
    color: #959dac;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    padding: 0 25px;
  }

  &__submit {
    border: none;
    background-color: #19bf97;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    font-weight: 600;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
  }
}
